/* Оформлення замовлення start */

.woocommerce-info {
    border-top-color: var(--accent);
	margin: 0 0 1em;
}

.woocommerce-info::before {
    color: var(--accent);
}

.woocommerce form.checkout_coupon {
	border: none;
	margin: 1em 0 2em;
	padding: 10px 0;
}

.woocommerce form.checkout_coupon .form-row {
    padding: 0;
    margin: 0;
	height: 100%;
	/* width: 100%; */
}

.woocommerce form.checkout_coupon .form-row input.input-text,
.woocommerce form.checkout_coupon .form-row textarea {
    border: 1px solid #4B6D7433;
    border-radius: 5px;
    padding: 10px 20px;
    outline: none;
	min-height: 45px;
}

.woocommerce form.checkout_coupon .form-row button,
.woocommerce form.checkout .col-2 button,
#sms-verification-field button {
	display: inline-block;
	min-height: 45px;
	color: var(--accent) !important;
    background: transparent;
    font-weight: 500;
    letter-spacing: 0.5px;
	border-radius: 5px;
	outline: none;
	border: 1px solid var(--accent);
	padding: 0.618em 1em;
	transition: all 0.2s ease;
}

.woocommerce form.checkout_coupon .form-row button:hover,
.woocommerce form.checkout .col-2 button:hover,
#sms-verification-field button:hover {
	color: white !important;
}

.woocommerce-form-login button,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit,
.woocommerce-ResetPassword.lost_reset_password button,
.woocommerce-EditAccountForm button,
.woocommerce-MyAccount-orders .woocommerce-button,
form.woocommerce-form.woocommerce-form-register.register button {
	display: inline-block !important;
	color: white !important;
    background-color: var(--accent) !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
	border-radius: 5px !important;
	outline: none;
	border: none;
	padding: 0.618em 1em;
	transition: all 0.2s ease;
}

@media (max-width: 768px) {

	.woocommerce form.checkout_coupon .form-row input.input-text,
	.woocommerce form.checkout_coupon .form-row textarea {
		padding: 7px 15px;
	}

	.wp-block-woocommerce-price-filter  {
		padding: 0 10px;
	}

}

@media (min-width: 769px) {

	.woocommerce form.checkout_coupon .form-row button:hover,
	.woocommerce form.checkout .col-2 button:hover,
	#sms-verification-field button:hover,
	.woocommerce-form-login button:hover,
	.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover,
	.woocommerce-ResetPassword.lost_reset_password button:hover,
	.woocommerce-EditAccountForm button:hover,
	.woocommerce-MyAccount-orders .woocommerce-button:hover,
	form.woocommerce-form.woocommerce-form-register.register button:hover {
		/* background-color: var(--accent-hover) !important; */
		background: var(--btn);
		color: #fff;
	}
}

.woocommerce form.checkout,
.woocommerce-EditAccountForm {
	margin-top: 2em;
}

/* МІй аккаунт start*/

.woocommerce-EditAccountForm fieldset {
    padding: 0;
	border: none;
}

.woocommerce-EditAccountForm fieldset label {
    position: static !important;
    height: auto !important;
    white-space: normal !important;
	line-height: 18px !important;

}

.woocommerce-EditAccountForm legend {
    margin-bottom: 1.5em;
}

.woocommerce-MyAccount-orders thead th:last-of-type,
.woocommerce-MyAccount-orders tr td:last-of-type {
	text-align: center;
}

.woocommerce-MyAccount-orders tr td:last-of-type .woocommerce-button:not(:last-of-type) {
	margin-right: 10px;
}

.woocommerce-MyAccount-content .order-number,
.woocommerce-MyAccount-content .order-date,
.woocommerce-MyAccount-content .order-status {
	font-weight: 700;
	background: transparent;
}

form.woocommerce-EditAccountForm.edit-account .woocommerce-form-row {
    margin-bottom: 20px !important;
}

.woocommerce-order-details {
	margin-top: 1.5em;
}


.woocommerce-MyAccount-navigation {
	margin-bottom: 1.5em;
}

.woocommerce-order-details__title,
.woocommerce-customer-details .woocommerce-column__title {
	margin-bottom: 15px;
}

table.woocommerce-table--order-details td,
table.woocommerce-table--order-details th {
    border: none !important;
}


table.woocommerce-table--order-details tbody td,
table.woocommerce-table--order-details tfoot td,
table.woocommerce-table--order-details tfoot th {
    border: none !important;
}

table.woocommerce-table--order-details tbody tr:last-of-type td {
    border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
}
table.woocommerce-table--order-details tbody tr:first-of-type td {
    border-top: 1px solid rgba(0, 0, 0, .1) !important;
}

.woocommerce-customer-details address {
	border: none !important;
}

form.woocommerce-form.woocommerce-form-register.register {
	border: none;
	padding: 0;
}

table.woocommerce-orders-table.woocommerce-MyAccount-orders td {
    min-height: 26px;
}

@media (max-width: 768px) {
	table.woocommerce-orders-table.woocommerce-MyAccount-orders tr td {
		border: none;
	}
	table.woocommerce-orders-table.woocommerce-MyAccount-orders tr td:last-child {
		padding-bottom: 20px;
	}

}

/* МІй аккаунт end*/

.woocommerce form.checkout .col2-set input.input-text,
.woocommerce form.checkout .col2-set textarea,
.woocommerce form.checkout .col2-set .zen-ui-select__value,
.woocommerce form.checkout .col-2 input,
#sms-verification-field input,
.woocommerce-form-login input[type="text"],
.woocommerce-form-login input[type="password"],
.woocommerce-ResetPassword.lost_reset_password input[type="text"],
.woocommerce-EditAccountForm input,
form.woocommerce-form.woocommerce-form-register.register input {
    border: 1px solid #4B6D7433;
    border-radius: 5px;
    padding: 10px 5px 10px 20px;
	min-height: 45px;
    outline: none;
	resize: none;
}

@media (max-width: 768px) {
	.woocommerce form.checkout .col2-set input.input-text,
	.woocommerce form.checkout .col2-set textarea,
	.woocommerce form.checkout .col2-set .zen-ui-select__value,
	.woocommerce form.checkout .col-2 input,
	#sms-verification-field input,
	.woocommerce-form-login input[type="text"],
	.woocommerce-form-login input[type="password"],
	.woocommerce-ResetPassword.lost_reset_password input[type="text"],
	.woocommerce-EditAccountForm input,
	form.woocommerce-form.woocommerce-form-register.register input {
		padding: 10px 5px 10px 9px;
	}

	.woocommerce form.checkout .col2-set textarea {
		height: 5em;
	}

	.woocommerce .col2-set .col-2 {
		margin-top: 55px;
	}
}

.woocommerce-form-login .form-row {
	position: relative;
	margin-top: 20px !important;
}

.woocommerce form.checkout .col2-set input[type="checkbox"],
.woocommerce-form-login input[type="checkbox"] {
	display: inline-block;
    width: 16px;
    height: 16px;
	min-height: 16px;
	border-radius: 3px;
	border: 1px solid #213235;
	padding: 0;
    outline: none;
    accent-color: white;
	appearance: none;
}

.woocommerce form.checkout .col2-set input[type="checkbox"]:checked,
.woocommerce-form-login input[type="checkbox"]:checked {
	position: relative;
	outline: none;
}

.woocommerce form.checkout .col2-set input[type="checkbox"]:checked::before,
.woocommerce-form-login input[type="checkbox"]:checked::before {
	content: "";
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 2px;
	background-color: var(--accent);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.woocommerce form.checkout .form-row,
.woocommerce form.checkout .zen-ui-select-3,
.woocommerce-EditAccountForm .woocommerce-form-row,
form.woocommerce-form.woocommerce-form-register.register .woocommerce-form-row {
	position: relative;
	margin-bottom: 20px !important;
	width: 100%;
}

@media (max-width: 768px) {
	.woocommerce form.checkout .form-row,
	.woocommerce form.checkout .zen-ui-select-3,
	.woocommerce-EditAccountForm .woocommerce-form-row,
	form.woocommerce-form.woocommerce-form-register.register .woocommerce-form-row {
		width: 100% !important;
	}
}

.woocommerce form.checkout .form-row label,
.woocommerce-form-login label,
.woocommerce-EditAccountForm label,
form.woocommerce-form.woocommerce-form-register.register label {
	position: absolute;
    top: -12px;
    z-index: 1;
    left: 10px;
    background-color: #FFFFFF;
    padding: 0 10px;
    font-size: 16px;
    line-height: 23px;
    height: 23px;
	font-weight: 300;
	color: var(--text-color);
	white-space: nowrap;
}


@media (max-width: 768px) {
	.woocommerce form.checkout .form-row label,
	.woocommerce-form-login label {
		top: -9px;
		left: 5px;
		padding: 0 8px;
		font-size: 14px;
		line-height: 18px;
		height: 18px;
	}
}

.woocommerce form.checkout .woocommerce-form__label-for-checkbox {
	padding: 0 !important;
}

.woocommerce form.checkout h3 {
	margin-bottom: 15px;
}

#sms-verification-field {
	margin-bottom: 20px;
	text-align: left;
}

#sms-verification-field input {
	max-width: 160px;
}

@media (max-width: 768px) {
	#sms-verification-field input {
		max-width:none;
		width: 100%;
		margin-bottom: 10px;
	}
	#sms-verification-field button {
		width: 100%;
	}
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: transparent;
    border-radius: 5px;
	border: 1px solid #4B6D7433;
}

.woocommerce-checkout #payment ul.payment_methods li input[type="radio"] {
    accent-color: var(--accent);
}

.woocommerce-checkout #payment div.payment_box {
    /* background-color: #93a7ab; */
	/* background: var(--btn); */
	background: var(--accent);
    color: white;
}

.woocommerce-checkout #payment div.payment_box::before {
    border: 1em solid #3E6D74;
	border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

ul.woocommerce-error {
	margin: 10px 0;
}

.woocommerce-error li {
    padding-left: 40px !important;
}

.woocommerce-checkout-review-order input {
	min-height: auto;
}

.woocommerce-checkout-review-order .woocommerce-form__label-for-checkbox {
	position: static;
    background: transparent;
}

.woocommerce-invalid #terms  {
	outline: none;
}

.wc-block-components-notice-banner.is-info>svg {
    background-color: var(--accent);
}

.wc-block-components-notice-banner.is-info {
    background-color: #dbe1e3;
    border-color: #4B6D7433;
}

.woocommerce #payment #place_order {
	display: none;
}

#place_order {
	display: inline-block;
	height: 45px;
	width: 300px;
	justify-self: end;
	color: white !important;
    /* background: var(--btn); */
	background: var(--accent);
	border-radius: 5px;
	outline: none;
	border: none;
	padding: 0.618em 1em;
	transition: all 0.2s ease;
}

@media (max-width: 768px) {
	#place_order {
		width: 100%;
	}
}

@media (min-width: 769px) {

	#place_order:hover {
		background-color: var(--accent-hover);
	}
}

.verification-block {
	margin-top: 40px;
}

#customer_details .col-1,
#customer_details .col-2 {
	width: 100%;
}

#customer_details .col-1 {
	display: grid;
	grid-template-columns: 100%;
	margin-bottom: 25px;
}

#customer_details .col-2 {
	text-align: right;
}

.woocommerce-billing-fields {
	grid-area: 1 / 1 / 3 / 2;
}

.woocommerce-additional-fields {
	grid-area: 3 / 1 / 4 / 2;
}

#customer_details::before,
.woocommerce-shipping-fields {
    display: none;
}

@media (min-width: 992px) {

    #customer_details {
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
		grid-template-columns: 48% 48%;
        column-gap: 4%;
    }
}

.woocommerce-account-fields {
	display: none;
}

.shop_table.woocommerce-checkout-review-order-table .product-thumbnail img {
	width: 100%;
	max-width: 80px;
	height: auto;
	object-fit: contain;
}

.shop_table.woocommerce-checkout-review-order-table .product-thumbnail img.product-thumbnail-label {
	max-width: 24px;
}

@media (max-width: 768px) {

	.shop_table.woocommerce-checkout-review-order-table .product-thumbnail img {
		max-width: 100%;
	}
}

.shop_table.woocommerce-checkout-review-order-table td {
    padding: 5px 10px;
}

.shop_table.woocommerce-checkout-review-order-table tbody {
    display:block;
    width: 100%;
    max-height: 370px;
    overflow-y:auto;
}

.shop_table.woocommerce-checkout-review-order-table thead, 
.shop_table.woocommerce-checkout-review-order-table tfoot,
.shop_table.woocommerce-checkout-review-order-table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.shop_table.woocommerce-checkout-review-order-table tbody::-webkit-scrollbar {
	width: 4px;
}

.shop_table.woocommerce-checkout-review-order-table tbody::-webkit-scrollbar-thumb {
	background: #C8C8C8;
	border-radius: 4px;
}

.shop_table.woocommerce-checkout-review-order-table thead th:first-of-type,
.shop_table.woocommerce-checkout-review-order-table tbody tr td:first-of-type
{
	width: 18%;
}

.shop_table.woocommerce-checkout-review-order-table thead th:last-of-type,
.shop_table.woocommerce-checkout-review-order-table tbody tr td:last-of-type,
.shop_table.woocommerce-checkout-review-order-table tfoot tr td:last-of-type
 {
	width: 25%;
}

@media (max-width: 768px) {

	.shop_table.woocommerce-checkout-review-order-table thead th:last-of-type,
	.shop_table.woocommerce-checkout-review-order-table tbody tr td:last-of-type,
	.shop_table.woocommerce-checkout-review-order-table tfoot tr td:last-of-type
	{
		width: 30%;
	}
}

@media (max-width: 390px) {

	.shop_table.woocommerce-checkout-review-order-table thead th:last-of-type,
	.shop_table.woocommerce-checkout-review-order-table tbody tr td:last-of-type,
	.shop_table.woocommerce-checkout-review-order-table tfoot tr td:last-of-type
	{
		width: 35%;
	}
}

.woocommerce table.shop_table {
    border: none !important;
}

.woocommerce table.shop_table thead {
    border: 1px solid rgba(0,0,0,.1);
    border-bottom: none;
}

.woocommerce table.shop_table tbody {
    border: 1px solid rgba(0,0,0,.1);
    border-top: none;
}

.woocommerce table.shop_table tfoot tr:first-of-type {
    height: 40px;
}

.woocommerce table.shop_table tfoot tr th {
    border-left: 1px solid rgba(0,0,0,.1);;
}

.woocommerce table.shop_table tfoot tr:first-of-type td,
.woocommerce table.shop_table tfoot tr:first-of-type th {
    border: none !important
}

.woocommerce table.shop_table tfoot tr td:last-of-type {
    border-right: 1px solid rgba(0,0,0,.1);;
}

.woocommerce table.shop_table tfoot tr:last-of-type td,
.woocommerce table.shop_table tfoot tr:last-of-type th {
    border-bottom: 1px solid rgba(0,0,0,.1);;
}

.woocommerce form.woocommerce-form-login.login {
	border: none;
	padding: 0;
}

.woocommerce form.woocommerce-form-login.login >p:first-of-type{
	margin-bottom: 1em;
}

.woocommerce-form-login label.woocommerce-form-login__rememberme {
    position: static;
    line-height: 35px;
}

.woocommerce-form-login input[type="checkbox"] {
	margin-bottom: -2px;
}

@media (max-width: 768px) {
	.woocommerce-form-login .form-row-first,
	.woocommerce-form-login .form-row-last,
	.woocommerce-EditAccountForm .form-row-first,
	.woocommerce-EditAccountForm .form-row-last {
		width: 100% !important;
	}
}

#payment .validate-required .woocommerce-form__label-for-checkbox {
	position: static;
	background: transparent;
	margin-bottom: 0;
	padding: 0;
	line-height: inherit;
	white-space: normal;
}

/* Оформлення замовлення end */

/* remind password start*/


.woocommerce-ResetPassword.lost_reset_password >p:first-of-type {
	margin-bottom: 1.5em;
}

.woocommerce-ResetPassword.lost_reset_password .woocommerce-form-row--first {
	position: relative;
}

.woocommerce-ResetPassword.lost_reset_password label[for="user_login"] {
	position: absolute;
    top: -12px;
    z-index: 1;
    left: 10px;
    background-color: #FFFFFF;
    padding: 0 10px;
    font-size: 16px;
    line-height: 23px;
    height: 23px;
	font-weight: 300;
	color: var(--text-color);
}

/* remind password end*/

/* Фільтрація на сторінці категорій */
.wc-blocks-components-form-token-field-wrapper .components-form-token-field__input-container ,
.wc-blocks-components-form-token-field-wrapper .components-form-token-field__input-container input[type=text].components-form-token-field__input {
    cursor: pointer;
}

/* thanks page start */

.overview__order__title {
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #21323599;
    text-transform: none;
    margin-bottom: 7px;
}

.page_content_text .thanks__title {
    margin-bottom: 10px;
}

.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    margin-top: 40px;
    margin-bottom: 15px;
    padding-left: 0;
}

@media (max-width:768px) {

	.overview__order__title {
		margin-bottom: 0;
	}
	.woocommerce ul.order_details li {
		float: none !important;
		border-right: none !important;
		display: flex;
		align-items: center;
	}
	.woocommerce ul.order_details li:not(:last-child) {
		margin-bottom: 2em;
	}	
}

.page_content_text .info_order_text a {
    text-decoration: underline;
}

.page_content_text .thanks__text-1 {
    margin-top: 30px;
	margin-bottom: 30px !important;
}


.page_content_text .woocommerce h3 {
    font-weight: 600;
}

.page_content_text .thanks__block2 {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.page_content_text .thanks__block2 .col-2 {
	align-self: end;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
}
.page_content_text .thanks__block2 .col-2 p {
	margin-bottom: 0;
}

.page_content_text .thanks__block2 .col-2 .big-text {
	font-size: 30px;
	line-height: 37px;
	white-space: nowrap;
	margin-bottom: 5px;
}

.page_content_text .thanks__block2 .col-2 a img {
	max-width: 211px;
	max-height: 234px;
	width: 100%;
	height: auto;
	object-fit: contain;
}

.page_content_text .thanks__block2 .contacts__list {
	border: none;
	padding: 0;
}

.page_content_text .thanks__block2 ul {
	list-style: none;
	margin: 15px 0 30px;
	padding: 0;
}
.page_content_text .thanks__block2 .product__card__info__button,
.language-popup .product__card__info__button {
	max-width: 278px;
	/* background: var(--btn); */
	/* color: white; */
	color: var(--accent);
}

.page_content_text .thanks__block2 .product__card__info__button::after,
.language-popup .product__card__info__button:after {
	position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  background: var(--btn);
  transition: opacity 0.3s ease-out;
  z-index: 2;
  opacity: 0;
}

@media (max-width: 768px) {

	.page_content_text .thanks__block2 .product__card__info__button,
	.language-popup .product__card__info__button {
		color: white;
	}
}

.page_content_text .thanks__block2 .product__card__info__button span,
.language-popup .product__card__info__button span {
	position: relative;
	z-index: 5;
}

@media (min-width: 769px) {
	.page_content_text .thanks__block2 .product__card__info__button:hover,
	.language-popup .product__card__info__button:hover {
		/* background-color: white; */
		color: white;
	}

		.page_content_text .thanks__block2 .product__card__info__button:hover::after,
		.language-popup .product__card__info__button:hover::after {
			opacity: 1;
		}
}

.page_content_text .thanks__block2 small {
	display: block;
	margin: 10px 0;
}

.page_content_text .thanks__block2 h4 {
	/* margin-top: 40px; */
	margin: 20px 0 40px;
}

.page_content_text .thanks__block2 .footer-download-app__block  h3 {
	font-weight: 500;
}

@media (max-width: 768px) {

	.page_content_text .thanks__block2 {
		flex-direction: column;
		gap: 20px;
	}

	.page_content_text .thanks__block2 .col-2 a img {
		max-width: 180px;
	}
	
	.page_content_text .thanks__block2 .col-2 {
		align-self: center;
	}
}

/* thanks page end */